db/*.sqlite3
log/*.log*
tmp/
vendor/bundle
vendor/cache
.sass-cache/
tags
.idea
deploy_log/*.log
public/assets/
working/
.DS_Store
devcloud.cn.tar.gz
scaleworks.tar.gz
scaleworks_development
scaleworks_test
.vagrant
Vagrantfile
refactor.todo
config/initializers/disable_log.rb
